<launch>
    <arg name="rosbag_name" value="imu_static_2.bag"/>

    <node   pkg="bpf_localization" 
            type="imu_interface" 
            name="imu_calibration"  
            output="screen"/>

<!--
    <arg name="rosbag_name" value="imu_static_1.bag"/>
    <arg name="rosbag_name" value="imu_static_2.bag"/>
    <arg name="rosbag_name" value="imu_perturbations_1.bag"/>
    <arg name="rosbag_name" value="imu_perturbations_2.bag"/>
-->

    <node   pkg="rosbag" 
            type="play" 
            name="player" 
            output="screen" 
            args="$(find bpf_localization)/rosbag/calibration_tests/$(arg rosbag_name)">
        <remap from="/imu1" to="/imu_in"/>
        <remap from="/mag1" to="/mag_in"/>
    </node>
</launch>
