<launch>
    <arg name="plot" default="1"/>
    <arg name="use_bag" default="0"/>
    <arg name="bag_file" default="calibration_tests/imu_static_2.bag"/>

    <node   pkg="bpf_localization" 
            type="imu_standalone" 
            name="calibration"  
            output="screen">
        <remap from="/boat_imu_in" to="/imu"/>
        <remap from="/boat_mag_in" to="/mag"/>
    </node>

    <group if="$(eval arg('plot')==1)">
    <node   pkg="bpf_localization" 
            type="plot_imu_calibration_node.py" 
            name="calibration_plotting"  
            output="screen">
    </node>
    </group>

    <group if="$(eval arg('use_bag')==1)">
    <node pkg="rosbag" 
          type="play" 
          name="rosbag" 
          args="$(find bpf_localization)/data/rosbag/$(arg bag_file)"
          output="screen">
        <remap from="/imu1" to="/imu"/>
        <remap from="/mag1" to="/mag"/>
    </node>
    </group>
</launch>
